button {
	padding: 1rem 2rem;
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	background-color: $blue2;
	outline: 0;
	border: 0;
	transition: all .2s;
	font-weight: bold;
	font-size: 1rem;
	text-shadow: 0 0 8px rgba(black, .7);

	&:hover {
		background-color: $blue3;
		cursor: pointer;
	}

	&.secondary {
		background-color: $blue1;

		&:hover {
			background-color: $blue3;
		}
	}

	&.cls-action {
		margin-right: .25rem;
	}
}