.environment-display {
	padding-right: 2rem;
	width: 15vw;

	@media screen and (max-width: 1000px) {
	  width: 100%;
	}

	.dnb_logo {
		width: 60%;
	}

	.section-label {
		margin: 0;
	}

	.function-attribution,
	.function-name {
		margin: 0;
	}

	.function-name {
		color: $gray_dark;
		padding-top: .5rem;
		font-size: 1.75em;
	}

	.function-attribution {
		color: $gray_dark;
		font-size: 1.25rem;
		opacity: .8;
	}

	.todays-date {
		font-size: .8rem;
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
		margin: .5rem 0;
		padding: .5rem 0;
	}
}