@import './_palette';

.log-display {

}

.log-event {
	background-color: white;
	margin-bottom: .25rem;
	position: relative;
	border-left: 5px solid $blue1;
	display: flex;

	main {
		padding: 0 .5rem 1rem .5rem;
	}
}

.log-event-timestamp {
	background-color: rgba($blue1, .5);
	color: $blue3;
	padding: .25rem 1rem;
	margin: 0;
	font-weight: 600;
	width: 12em;
}

.log-event-timestamp__relative {
	margin-left: .5rem;
	color: $gray_light;
	text-transform: uppercase;
	display: block;
}