.log-event {
	background-color: white;
	margin-bottom: .5rem;
	position: relative;
	border-left: 2px solid $blue1;
	display: flex;
	border: 1px solid $border;

	@media screen and (max-width: $small_screen) {
	  width: 95%;
	}
}

.log-event-timestamp {
	position: relative;
	color: $blue3;
	padding: 1rem 1rem 1rem 2rem;
	margin: 0;
	font-weight: 600;
	width: 12em;
}

.log-event-timestamp:after, .log-event-timestamp:before {
	left: 0;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

$timestamp-arrow-dim: 10px;

.log-event-timestamp:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: $blue1;
	border-width: $timestamp-arrow-dim;
	margin-top: -$timestamp-arrow-dim;
}

.log-event-timestamp__relative {
	text-transform: uppercase;
	display: block;
	margin: .5rem 0;
	padding-bottom: .5rem;
	color: $blue2;
	border-bottom: 1px solid rgba($blue2, .25);

}

.log-event-meta {
	width: 75%;
	padding: 0 .5rem 1rem .5rem;

	p {
		font-size: .8rem;
	}
}

.log-event-message {
	display: inline-block;
	padding: .5rem;
	border-radius: 4px;
	background-color: $gray;
	font-size: 1.25rem !important;
	margin-bottom: 0;
}

@media screen and (max-width: $small_screen) {
  .log-stream-display,
  .log-id-display {
  	display: none;
  }
}

.logs-meta-display {
	display: flex;

	.meta-field {
		margin-right: .5rem;
		padding: .25rem 1rem;
		background-color: rgba(white, .7);
		color: $blue1;
		border-radius: 4px;
		border: 1px solid $border;
	}
}