$blue1: #005172;
$blue2: #3095B4;
$blue3: #003B53;

$yellow: #FFC341;
$green: #69C568;
$red: #B54039;

$gray: #D7E0E4;
$gray_light: #F1F6F8;
$gray_dark: #333;

$border: #D7E0E4;

$text_color: #002E41;
