.search-logs {
	padding-bottom: 2rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $border;

	@media screen and (max-width: 1000px) {
	  border-top: 1px solid $border;
	}
}

.logs-search-input {
	width: 35vw;

	@media screen and (max-width: 1000px) {
	  width: 90%;
	  margin-bottom: 1rem;
	}
}

.log-search-button {
	margin-left: .5rem;
}

.browse-log-search-results {
	margin-top: 2rem;
}