.search-logs {
	padding-bottom: 2rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $border;
}

.logs-search-input {
	width: 35vw;
}

.log-search-button {
	margin-left: .5rem;
}

.browse-log-search-results {
	margin-top: 2rem;
}