@import './styles/_breakpoints';
@import './styles/_base';
@import './styles/_buttons';
@import './styles/_forms';
@import './styles/_search_logs';
@import './styles/_log_display';
@import './styles/_environment_display';
@import './styles/_loading_animation';
@import './styles/_user_feedback';

/** Structural Styles for Main Layout **/

$scrollable-section-width: 80vw;
$sidepanel-width: 100 - $scrollable-section-width;

body, 
html {
	height: 100%;
	overflow: hidden;
}

.App {
	display: flex;
	flex: 1;

	@media screen and (max-width: $small_screen) {
	  display: block;
	}

	.environment-display {
		width: $sidepanel-width;

		@media screen and (max-width: $small_screen) {
		  width: 100%;
		  height: auto;
		}
	}

	.logs-stage {
		height: 100vh;
  		display: flex;
  		flex-direction: column;
  		width: $scrollable-section-width;
  		overflow-y: auto;

  		@media screen and (max-width: $small_screen) {
		  width: 100%;
		  padding: 0 1rem;
		}
	}

	.log-stream {
		flex: 2;
	}
}
